import /init.logmanager.rc
import /init.bluetooth.rc

service fakeappops /system/bin/fakeappops
    class main
    user root

service gonkservices /system/bin/gonkservices
    class main
    user root

service gonksched /system/bin/gonksched
    class main
    user root

service b2g /system/bin/b2g.sh
    class main
    onrestart restart media

service nfcd /system/bin/nfcd
    disabled
    class main
    oneshot
    socket nfcd stream 660 nfc nfc
    user nfc
    group system

service radvd /system/bin/radvd -C /data/misc/radvd/radvd.conf \
    -n -p /data/misc/radvd/radvd.pid
    disabled
    oneshot

service api-daemon /system/bin/api-daemon.sh
    class main
    user root

service updater-daemon /system/bin/updater-daemon.sh
    class main
    user root

service b2gkillerd /system/bin/b2gkillerd
    class core
    user root
    disabled
    writepid /dev/cpuset/system-background/tasks

on post-fs-data
    mkdir /data/misc/radvd 0770 system system
    mkdir /data/misc/tethering 0770 system system
    mkdir /data/misc/dhcp-6.8.2 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp-6.8.2
    ## Copied from device/generic/goldfish/init.ranchu.rc,
    ## triggered on 'zygote-start' event that we don't emit
    # Create the directories used by the Wireless subsystem
    mkdir /data/vendor/wifi 0771 wifi wifi
    mkdir /data/vendor/wifi/wpa 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa/sockets 0770 wifi wifi
    # B2G process would create kickgccc
    chmod g+w /dev/socket

on property:init.svc.wpa_supplicant=stopped
    stop dhcpcd

service dhcpcd_wlan0 /system/bin/dhcpcd-6.8.2 -ABKL \
    -f /system/etc/dhcpcd-6.8.2/dhcpcd.conf wlan0
    group system dhcp
    disabled
    oneshot

on boot
    exec /system/bin/rm -r /data/local/tmp/*
    # set RLIMIT_NOFILE to increase soft limit from 1024(default) to 2048.
    # Hard limit keeps default value(4096).
    setrlimit 7 2048 4096
    # For process manager
    mkdir /dev/memcg/b2g
    mkdir /dev/memcg/b2g/fg
    mkdir /dev/memcg/b2g/bg
    mkdir /dev/memcg/b2g/bg/try_to_keep
    mkdir /dev/memcg/b2g/default
    # Fine tune b2gkillerd memory config
    setprop ro.b2gkillerd.debug false
    setprop ro.b2gkillerd.mem_pressure_threshold "20"
    setprop ro.b2gkillerd.gc_cc_max "59"
    setprop ro.b2gkillerd.gc_cc_min "50"
    setprop ro.b2gkillerd.dirty_mem_weight "0.2"
    setprop ro.b2gkillerd.swapped_mem_weight "0.5"
    setprop ro.b2gkillerd.min_kick_interval "5.5"

on property:shell.ready=1
    start b2gkillerd
