import /init.logmanager.rc
import /init.bluetooth.rc

service fakeappops /system/bin/fakeappops
    class main
    user root

service fakeSensorPrivacy /system/bin/fakeSensorPrivacy
    class main
    user root

service fakePackageManagerNative /system/bin/fakePackageManagerNative
    class main
    user root

service gonkProcessInfo /system/bin/gonkProcessInfo
    class main
    user root

service gonksched /system/bin/gonksched
    class main
    user root

service b2g /system/bin/b2g.sh
    class main
    onrestart restart media

service nfcd /system/bin/nfcd
    disabled
    class main
    oneshot
    socket nfcd stream 660 nfc nfc
    user nfc
    group system

service radvd /system/bin/radvd -C /data/misc/radvd/radvd.conf \
    -n -p /data/misc/radvd/radvd.pid
    disabled
    oneshot

service api-daemon /system/bin/api-daemon.sh
    class main
    user root

service updater-daemon /system/bin/updater-daemon.sh
    class main
    user root

on post-fs-data
    mkdir /data/misc/radvd 0770 system system
    mkdir /data/misc/tethering 0770 system system
    mkdir /data/misc/dhcp-6.8.2 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp-6.8.2
    ## Copied from device/generic/goldfish/init.ranchu.rc,
    ## triggered on 'zygote-start' event that we don't emit
    # Create the directories used by the Wireless subsystem
    mkdir /data/vendor/wifi 0771 wifi wifi
    mkdir /data/vendor/wifi/wpa 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa/sockets 0770 wifi wifi

on property:init.svc.wpa_supplicant=stopped
    stop dhcpcd

service dhcpcd_wlan0 /system/bin/dhcpcd-6.8.2 -ABKL \
    -f /system/etc/dhcpcd-6.8.2/dhcpcd.conf wlan0
    group system dhcp
    disabled
    oneshot

on boot
    exec /system/bin/rm -r /data/local/tmp/*
    # set RLIMIT_NOFILE to increase soft limit from 1024(default) to 2048.
    # Hard limit keeps default value(4096).
    setrlimit 7 2048 4096
