# for copy files from PC to Internal storage
allow init self:netlink_xfrm_socket { create bind };
# for set date & time
allow init cgroup:file create;
allow init proc:dir write;
allow init sysfs:dir write;
