# for IPv6 tethering radvd daemon
allow init init:rawip_socket { create setopt getopt ioctl write read };
allow init init:netlink_route_socket { create bind };
allow init self:netlink_xfrm_socket { create bind };
allow init b2g_data_file:file ioctl;
allow init cgroup:file create;
allow init proc:dir write;
allow init sysfs:dir write;
