# nfcd
init_daemon_domain(nfcd)

# audit2allow
allow nfcd b2g:unix_stream_socket connectto;
allow nfcd nfc_data_file:dir rw_dir_perms;
allow nfcd nfc_data_file:file create_file_perms;
allow nfcd nfc_device:chr_file rw_file_perms;
allow nfcd sysfs_wake_lock:file rw_file_perms;
