# plugin-container
init_daemon_domain(plugin-container)
domain_auto_trans(b2g, plugin-container_exec, plugin-container)

binder_use(plugin-container)
binder_call(plugin-container, b2g)

# audit2allow
allow plugin-container b2g:unix_stream_socket { write read };
allow plugin-container fuse:file rw_file_perms;
allow plugin-container gpu_device:chr_file rw_file_perms;
allow plugin-container mediaserver:binder { transfer call };
allow plugin-container mediaserver:fd use;
allow plugin-container self:process execmem;
allow plugin-container servicemanager:binder call;
allow plugin-container shell_data_file:file create_file_perms;
allow plugin-container shell_data_file:dir create_dir_perms;

# other domains interacting with plugin-container domain
allow mediaserver plugin-container:binder { transfer call };
allow mediaserver plugin-container:fd use;

# For using widevine level3
allow plugin-container self:socket { create_socket_perms_no_ioctl listen accept };
allow plugin-container self:tcp_socket { create_socket_perms_no_ioctl listen accept };
allow plugin-container self:udp_socket { create_socket_perms_no_ioctl listen accept };
allow plugin-container self:capability net_raw;
allow plugin-container b2g:udp_socket write;
allow plugin-container port:tcp_socket name_connect;
allow plugin-container device:sock_file w_file_perms;
allow plugin-container fwmarkd_socket:sock_file write;
allow plugin-container netd:unix_stream_socket { connectto };
allow netd plugin-container:tcp_socket { read write setopt getopt };
allow netd plugin-container:udp_socket { read write setopt getopt };
allow netd plugin-container:fd use;
