# rilproxy
init_daemon_domain(rilproxy)

# audit2allow
allow rilproxy self:capability setuid;
allow rilproxy socket_device:dir w_dir_perms;
allow rilproxy socket_device:sock_file create_file_perms;
allow rilproxy socket_device:lnk_file unlink;
