# api-daemon
type api-daemon, domain;
type api-daemon_exec, exec_type, file_type;

init_daemon_domain(api-daemon)

# audit2allow
allow api-daemon dnsproxyd_socket:sock_file w_file_perms;
allow api-daemon fwmarkd_socket:sock_file w_file_perms;
allow api-daemon property_socket:sock_file w_file_perms;
allow api-daemon default_prop:property_service set;
allow api-daemon init:unix_stream_socket connectto;
allow api-daemon netd:unix_stream_socket connectto;
allow api-daemon node:tcp_socket node_bind;
allow api-daemon port:tcp_socket { name_bind name_connect };
allow api-daemon self:capability net_raw;
allow api-daemon self:capability2 block_suspend;
allow api-daemon self:tcp_socket create_stream_socket_perms;
allow api-daemon self:udp_socket create_stream_socket_perms;
allow api-daemon self:netlink_route_socket { create_stream_socket_perms nlmsg_read nlmsg_write };
allow api-daemon init:unix_stream_socket connectto;
allow api-daemon system_data_file:dir create_dir_perms;
allow api-daemon system_data_file:file { create_file_perms x_file_perms };
allow api-daemon api-daemon_exec:file rx_file_perms;
allow api-daemon api_data_file:file { create_file_perms x_file_perms };
allow api-daemon api_data_file:dir create_dir_perms;
allow api-daemon system_file:file rx_file_perms;
allow api-daemon shell_exec:file rx_file_perms;
allow api-daemon toolbox_exec:file rx_file_perms;
allow api-daemon property_socket:sock_file w_file_perms;
allow api-daemon shell_data_file:dir create_dir_perms;
allow api-daemon shell_data_file:file create_file_perms;
allow api-daemon socket_device:dir rw_dir_perms;
allow api-daemon socket_device:sock_file create_file_perms;
allow api-daemon net_data_file:dir search;
allow api-daemon ctl_default_prop:property_service set;

# other domains that interact with api-domain
allow shell api-daemon_exec:file getattr;
allow kernel api_data_file:file create_file_perms;
allow netd api-daemon:fd use;
allow netd api-daemon:tcp_socket rw_socket_perms;
allow b2g api-daemon_exec:file { write open };
allow b2g api_data_file:file create_file_perms;
allow b2g api_data_file:dir create_dir_perms;
allow b2g api-daemon:unix_stream_socket connectto;
