#for FOTA permissions in recovery mode
recovery_only(`
allow recovery b2g_data_file:dir create_dir_perms;
allow recovery b2g_data_file:file create_file_perms;
allow recovery ffs_prop:property_service set;
allow recovery rootfs:dir create_dir_perms;
allow recovery rootfs:file r_file_perms;
allow recovery system_data_file:dir create_dir_perms;
allow recovery system_data_file:file create_file_perms;
allow recovery vfat:dir create_dir_perms;
allow recovery vfat:file create_file_perms;

# init
allow init functionfs:dir mounton;
allow init rootfs:dir relabelfrom;
')
