#============= b2g ==============
allow b2g audio_device:fifo_file create_file_perms;
allow b2g fm_device:chr_file rw_file_perms;
allow b2g gpu_device:chr_file rw_file_perms;
allow b2g gnss_download:unix_stream_socket connectto;
allow b2g gnss_file:dir rw_dir_perms;
allow b2g gnss_file:file create_file_perms;
allow b2g ylog_file:dir create_dir_perms;
allow b2g ylog_file:file create_file_perms;
allow b2g prod_file:dir create_dir_perms;
allow b2g prod_file:file create_file_perms;
allow b2g wcn_device:chr_file rw_file_perms;
allow b2g apr_data_file:dir rw_dir_perms;
allow b2g apr_data_file:file rw_file_perms;
allow b2g dhcp6c_data_file:dir rw_dir_perms;
allow b2g engpc_data:dir create_dir_perms;
allow b2g engpc_data:file create_file_perms;
allow b2g hprofs_file:dir rw_dir_perms;
allow b2g mlog_file:dir rw_dir_perms;
allow b2g slogmodem_data:file rw_file_perms;
allow b2g slogmodem_data:dir rw_dir_perms;
allow b2g slogmodem_config_file:dir rw_dir_perms;
allow b2g slogmodem_config_file:file rw_file_perms;
allow b2g self:system module_load;

allow kernel prod_file:file create_file_perms;

#============= bluetoothd ==============
allow bluetoothd ylog:unix_stream_socket connectto;

#============= gonksched ==============
allow dumpstate gonksched:binder call;

#============= toolbox ==============
allow toolbox ylog_prop:property_service set;
